@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 one">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 three">
            <a href="/Simon/Game"><button id="startGame" type="button" name="button">Start Game</button></a>
        </div>
        <div class="col-lg-4 two">
            <h1 id="headerTitlePage">Simon!</h1>
            <img id="simon" src="~/Images/simon-1.png" alt="picture not here">
        </div>
        <div class="col-lg-4 three">
            <p class="instructions">
                Welcome to Simon! Try and remember the sequence and score points!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 one">
        </div>
    </div>
</div>